---
import { Image } from 'astro:assets'
import image03 from '$assets/images/image03.webp'
---

<section class="pt-24">
	<div class="container">
		<div class="parallax-zoom-in mx-auto w-full max-w-lg">
			<Image class="-mb-16" src={image03} width={768} alt="" />
		</div>
	</div>
</section>
